  <div id="header" class="jumbotron p-2">
    <span class="lead">QA Automation Task</span>
  </div>

  <div class="container">
    <div class="alert alert-info" role="alert">
      <h5 class="mb-3">Welcome to Cymptom QA Automation task!</h5>
      This is a simple counter app which counts and logs the clicks performed using the counter.

      <div class="mt-3">Please make sure to write the following:</div>

      <ul class="mt-3">
        <li>Full components tests - using the built in Angular mechanism (Jasmine + Karma), for the following components:
          counter, logger.</li>
        <li>Full e2e tests - including all of the flow and edge cases (if happens to be) using protractor</li>
      </ul>

      <!-- <hr class="mt-4">

      <div class="mb-3">
        You will have an example counter spec file to start with at:<br>
        <span class="text-muted">
          /src/app/components/counter/counter.component.spec.ts
        </span><br>

        <div class="mt-3">Edit it to your needs and add missing test cases.</div>
      </div> -->

      <h6>Find bugs (if any exists), Good luck!</h6>
    </div>

    <div class="row">
      <div class="col-12">
        <app-counter (counterChange)="onCounterChange($event)"></app-counter>
      </div>

      <div class="col-12">
        <input type="button" class="form-control mt-2" value="Clear" (click)="clear()" />
      </div>

      <div class="col-12 mt-3">
        <app-logger [logs]="logs">

        </app-logger>
      </div>
    </div>
  </div>
